body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F2FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family: 'Helvetica';
  font-style: normal;
}

/* Home Page Css */

.home-page-container,.event-page-container,.create-event-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 7%;
  /* background-color: #DDDDDD; */
}


.text-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: end;
  flex: 0.55;
}

.text-container  h2{
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  text-align: right;
}

.text-container  p{
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
}

.snapchat{
  background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.create-event-btn{
  background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
  border-radius: 10px;
  border:  0 ;
  color : white;
  padding: 16px;
  padding-left: 12%;
  padding-right: 12%;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  cursor: pointer;
}

/* Event Page Css */

.event-page-container{
  justify-content: space-evenly;
  margin-top: 10%;
}

.event-text-cont,.event-image-cont{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.event-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-details-cont{
  margin-top: 15%;
}

.event-details-cont img{
  width: 60px;
}

.sub-info{
  margin-left: 20px;
}

.sub-info span{

  font-weight: 700;
  font-size: 18px;
  color: #240D57;
}

.text-details h2{
  font-weight: 700;
  font-size: 3rem;
  line-height: 10px;
}

.arrow-img img{
  width : 10px;
  position: relative;
  top: 25px;
  left: 50px;
}

.sub-detail-info{
  font-size: 0.8rem !important;
}

/* Create Event */

.card-image img{
  width: 500px;
}

.create-event-wrapper{
  justify-content: center;
  margin-top: 5%;
}

.create-card{
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 50px;
  background-color: white;
}

.card-text h2{
  font-size:  2.5rem;
  color: #240D57;
}

.card-text p{
  font-size: 1.2rem;
  color: #240D57;
  font-weight: 300;
  width: 80%;
}

.input-container ,.start-date,.end-date,.inputs{
  display: flex;
  flex-direction: column;
}

.input-container input{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}

.input-container label{
  font-size: 0.75rem;
  color: #240D57;
  font-weight: 300;
}